@import "tailwindcss";

@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@layer theme, base, components, utilities;

body {
  @apply leading-[normal] m-0;
}
@layer base {
  *,
  *::before,
  *::after {
    border-width: 0;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair-display: var(--font-playfair-display);
}
